<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
  
  <br>
  <div class="container">
    <img [src]=image1  alt="...">
  </div>

  <br>
  <br>

  <div class="startButton">
    <button><a href="http://127.0.0.1:5500/FmB-App/src/app/hauptseite/hauptseite.component.html">Starten</a></button>
  </div>
  
</body>
</html>
<router-outlet></router-outlet>
